@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../../themes";

@include nb-install-component() {
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      text-align: center;
      padding-bottom: 16px;
      p {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .inputs {
      .input-g {
        margin-top: 16px;
        .input-ctrl,
        .label-ctrl {
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
    }

    .forgot-pass {
      margin-top: 4px;
      align-self: flex-end;
      font-weight: bold;
    }

    .buttons {
      margin-top: 16px;
      .separator {
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
      }

      .google-btn {
        background-color: white;
        border: 1px solid gray;

        .google-icon {
          margin-left: 0;
          margin-right: 20px;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
