<div class="login-form">
  <div class="title">
    <p>Bienvenido de nuevo</p>
    <small>Ingresa para continuar</small>
  </div>
  <div class="inputs">
    <div class="input-g">
      <label class="label-ctrl">Email</label>
      <input
        class="input-ctrl"
        type="email"
        nbInput
        fullWidth
        status="basic"
        placeholder="Email"
      />
    </div>
    <div class="input-g">
      <label class="label-ctrl">Password</label>
      <input
        class="input-ctrl"
        type="password"
        nbInput
        fullWidth
        status="basic"
        placeholder="Password"
      />
    </div>
  </div>
  <small class="forgot-pass"><a href="#">Olvidaste tu contraseña?</a></small>
  <div class="buttons">
    <button nbButton fullWidth hero status="primary">Iniciar sesión</button>
    <p class="separator">O también</p>
    <button class="google-btn" nbButton fullWidth>
      <img src="../assets/icons/icon-google.svg" class="google-icon" />
      Ingresar con Google
    </button>
  </div>
</div>
