@import "themes";

@import "~@nebular/theme/styles/globals";

@include nb-install() {
  @include nb-theme-global();

  .window {
    nb-card {
      width: 350px;
      nb-card-header {
        display: none;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

@import "./styles/inputs";
@import "./styles/title-auth-form";
@import "./styles/login-form";
@import "./styles/signin-form";
@import "./styles/buttons";
/* You can add global styles to this file, and also import other style files */
